In [7]:
import pymysql

# mysql 데이터베이스연결 연결자 생성(conn)
conn = pymysql.connect(
    host = '127.0.0.1',
    user = 'root',
    password = '1234',
    database = 'hanbitDB',
    charset = 'utf8'
   )

In [9]:
cur = conn.cursor() #커서는 데이터를 돌려받는 통로, 하나 만들어준다.

In [10]:
cur.execute("create table if not exists userTable (id char(4), userName char(15) , email char(20), birthYear int)")
#커서.execute("쿼리문") >MySQL로 쿼리문이 전달된다. 본 코드는 테이블 만드는 쿼리

0

In [13]:
cur.execute("insert into usertable values ('john', 'john Bann','john@naver.com',1990)") #데이터 추가

1

In [15]:
cur.execute("insert into usertable values ('kim', 'kin chi', 'kim@daum.net',1992)") #데이터 추가

1

In [16]:
cur.execute("insert into usertable values ('lee','lee pal','lee@paran.com',1988)") #데이터 추가

1

In [17]:
cur.execute("insert into usertable values ('park','Park Su','park@gmail.com',1980)") #데이터 추가

1

In [20]:
conn.commit() #추가한 데이터를 커밋 해준다.

In [ ]:
conn.close() #연결했던 데이터베이스를 닫는다.

In [28]:
import pymysql

#전역변수 선언부
conn , cur = None, None
data1, data2, data3, data4 = "", "", "", ""
sql = ""

#메인 코드
#연결자 만들기
conn = pymysql.connect(host = '127.0.0.1' , user = 'root' , password = '1234', db = 'hanbitDB', charset = 'utf8')
#커서생성
cur = conn.cursor()

while (True):
    data1 = input("사용자 ID ==>")
    if data1 == "": # 공백을 입력할때까지 데이터 입력 반복
        break;
    date2 = input("사용자 이름 ==>")
    data3 = input("사용자 이메일 ==>")
    data4 = int(input("사용자 출생년도 ==>"))
    sql = "insert into usertable (id, username, email, birthyear) values (%s, %s, %s, %s)"
    # %s 는 변수를 안전하게 전달하기 위한 placeholder 
    # cursor.execute() sql 쿼리와 함께 데이터를 전달한다.
    # cursor.execute(sql, (value1,value2,value3 ... ) 형식으로 사용
    cur.execute(sql, (data1,data2,data3,data4))

사용자 ID ==> suk
사용자 이름 ==> joon
사용자 이메일 ==> suk@joon.com
사용자 출생년도 ==> 25
사용자 ID ==>

In [29]:
conn.commit()
conn.close()

In [64]:
#데이터 조회 프로그램 작성
conn , cur = None, None
data1 , data2 , data3, data4 = "","","",""
row = None

#메인코드

conn = pymysql.connect( host = '127.0.0.1', user ='root' , password = '1234', db='hanbitDB', charset = 'utf8')
cur = conn.cursor()

cur.execute("select * from usertable")

print("사용자ID   사용자 이름    이메일    출생년도")
print("-----------------------------------------")
#fetchone > 하나씩 행을 가져온다.
while (True):
    row = cur.fetchone()
    if row == None:
        break
    data1 = row[0]
    data2 = row[1]
    data3 = row[2]
    data4 = row[3]
    #{data1:10} 10개의 공백을 확보하고 왼쪽부터 data1을 채워라
    print(f"{data1:10}{data2:15}{data3:20}{data4:d}")
   # print(f"({data1}   {data2}      {data3}    {data4}")

conn.close()

사용자ID   사용자 이름    이메일    출생년도
-----------------------------------------
john      john Bann      john@naver.com      1990
kim       kin chi        kim@daum.net        1992
lee       lee pal        lee@paran.com       1988
park      Park Su        park@gmail.com      1980

In [52]:
import pymysql

conn = pymysql.connect( host = '127.1.1.0', user = 'root', password = '1234', charset = 'utf8', db='hanbitdb' )
cur = conn.cursor()
sql = "select * from usertable"
cur.execute(sql)
#출력은 4 로 나온다. 4행에 성공적으로 적용되었다는 뜻

4

In [55]:
#행 전체를 받아오는 매서드 fetchall, 두번 사용할 수 없다.
rows = cur.fetchall()
for row in rows:
    print(row)

In [56]:
#위에서 fetchall을 한번 써서 다시 쓰기위해서는 sql문 한번 더 써줘야 한다.
sql = "select * from usertable"
cur.execute(sql)
rows = cur.fetchall()
list_a = []
for i in rows:
    
    list_a.extend(i)

print(list_a)

['john', 'john Bann', 'john@naver.com', 1990, 'kim', 'kin chi', 'kim@daum.net', 1992, 'lee', 'lee pal', 'lee@paran.com', 1988, 'park', 'Park Su', 'park@gmail.com', 1980]